.adventure-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.adventure-row:hover {
    border: 0.2rem solid green;
    border-radius: 5px;
}

.adventure-row-title {
    align-self: center;
}

#adventure-thumbnail {
    height: 150px;
}

@media (max-width: 768px) {
    .adventure-row {
        flex-direction: column;
    }

    #adventure-thumbnail {
      align-self: center;
    }
}