.container {
  text-align: center;
    padding: 2rem 1rem;
}

.team-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.team-member {
    flex: 1 1 calc(34% - 2rem);
    border-radius: 15px;
    padding: 1.2rem;
    text-align: left;
    background-color: var(--color-secondary);
}

.team-member img {
    border-radius: 12px;
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.team-member h3 {
    color: var(--text);
    margin-bottom: 1rem;
}

.team-member p {
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .team-member {
        flex: 1 1 100%;
    }
}