.dashboard-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

@media (max-width: 780px) {
    .dashboard-container {
        height: auto;
        flex-direction: column;
    }
}