/*reusable layout components/ classes like .container, .btn, etc.*/
.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
    text-align: center;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: var(--accent-green);
}

.img {
    max-width: 100%;
    height: auto;
}