.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
    text-align: center;
}

.btn:hover {
    background-color: var(--accent-green);
    color: var(--text);
}

.img {
    max-width: 100%;
    height: auto;
}