.searchbar-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

label {
    margin-right: 1rem;
}

.searchbar-input {
    padding: 0.5rem 0;
    border: 1px solid var(--accent-green);
    border-radius: 10px;
    font-size: 1rem;
    max-width: 210px;
    text-align: left;
}

@media (max-width: 500px) {
    .searchbar-input {
        font-size: 0.8rem;
        max-width: 100%;
        padding: 0.4rem 0.8rem;
    }
}