form {
    margin: 2rem auto;
    max-width: 600px;
    border: 2px solid var(--accent-green);
    background-color: var(--background);
    border-radius: 15px;
    padding: 1rem;
}

.contact-container {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    color: var(--text);
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: var(--accent-green);
    color: white;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: var(--accent-orange);
}

input {
    width: 100%;
    border: 1px solid var(--text);
    border-radius: 15px;
    font-size: 1rem;
    resize: vertical;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input::placeholder{
    font-size: 1rem;
    opacity: 0.5;
    color: var(--text);
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

textarea {
    width: 100%;
    border: 1px solid var(--text);
    border-radius: 15px;
    font-size: 1rem;
    resize: vertical;
    padding-left: 1rem;
    padding-top: 1rem;
}

textarea::placeholder {
    font-size: 1rem;
    opacity: 0.5;
    color: var(--text);
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: 'IBM Plex Sans', serif;
}