* {
    list-style: none;
    text-decoration: none;
    border: none;
}

body {
    margin: 0;
}

.navbar {
    background-color: var(--color-primary);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 0 3rem;
}

.nav-account-buttons {
    display: flex;
    justify-content: right;
    gap: 1rem;
    font-family: 'Gaegu', sans-serif;
    font-weight: lighter;
    text-decoration: underline;
}

.navbar-links {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.hamburger-btn-container {
    display: none;
    background-color: transparent;
}

.site-logo {
    background-color: var(--color-primary);
    }

.site-logo img {
    height: 65px;
    width: auto;
    background-color: transparent;
    object-fit: contain;
    display: block;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: transparent;
}

.navbar li {
    margin: 0;
    padding: 0;
    background: transparent;
}

.navbar a {
    color: inherit;
    background-color: var(--color-primary);
}

.navbar a.active {
    background-color: var(--color-secondary);
    opacity: 80%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bolder;
}

.navbar li.hover {
    background-color: var(--color-primary);
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .container {
        padding: 0 0.5rem;
    }

    .nav-account-buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .site-logo img {
        height: 40px;
    }
}

@media (max-width: 480px) {
    .site-logo img {
        height: 30px;
    }
}

@media (min-width: 950px) {
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 930px) {
    .navbar-links {
        display: none;
    }

    .hamburger-btn-container {
        display: block;
    }
}