.carousel-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
    gap: 2rem;
    padding: 1rem;
}

@media (max-width: 650px) {
    .carousel-thumbnails {
        flex-wrap: wrap;
    }

}